aptitude
acpi
arandr
emacs
terminator
git
curl
cmake
tmux
banshee
zsh
vlc
iftop
htop
gimp
dia
blender
audacity
unzip
unetbootin
tree
build-essential
autoconf
automake
libtool
gperf
dpatch
fakeroot
git-core
debhelper
python-pip
python-dev
lua-ldoc
imagemagick
liblua5.1-0
liblua5.1-dev
virtualenvwrapper
